@import 'variables';
@import 'mixins';
@import 'fonts';

@include reset;
@include bootstrap-game;

body {
    @include text-shadow;
    line-height: 1.2;
    color: $text-color;
    font-family: GROBOLD, "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

.skoash-game {
    > .menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

button {
    &.close {
        @include nav-button(5, 50px, 50px);
    }

    &.next-screen,
    &.prev-screen,
    &.close-reveal {
        display: block;
        position: absolute;
        bottom: 10px;
        z-index: 10;
        margin: 0;
        width: 140px;
        height: 55px;
    }

    &.close-reveal,
    &.next-screen {
        @include nav-button(2, 100px, 65px);
        right: 15px;
    }

    &.prev-screen {
        @include nav-button(1, 100px, 65px);
        left: 15px;
    }

    &.quit-yes,
    &.quit-no {
        bottom: 10%;
        width: 220px;
        height: 110px;
    }

    &.quit-yes {
        @include yesno-button(1);
        left: 17%;
    }

    &.quit-no {
        @include yesno-button(2);
        right: 17%;
    }
}

.skoash-game {
    $screen-pairs:
        (title                      title)
        (hi-there                   bkg1)
        (key-is-sorting             bkg1)
        (lights                     bkg2)
        (five-ways                  bkg2)
        (pre-level                  transition)
        (one-info                   bkg1)
        (two-info                   bkg1)
        (three-info                 bkg1)
        (four-info                  bkg1)
        (five-info                  bkg1)
        (recycling-champion         bkg4)
        (post-level-1               bkg4)
        (priceless-pourer           bkg2)
        (post-level-2               bkg2)
        (fantastic-food-sharer      bkg2)
        (post-level-3               bkg2)
        (dynamic-diverter           trash)
        (post-level-4               trash)
        (want-to-stack              bkg3)
        (master-sorter              bkg3)
        (post-level-5               bkg3)
        (now-a-member               bkg1)
        (post-level-6               bkg3)
        (flip                       bkg1);
    @include screen-background-pairs($screen-pairs);

    &.MENU-quit {
        .background.quit {
            opacity: 1;
        }
    }

    .background {
        $background-pairs:
            (bkg1           'background.01.jpg')
            (bkg2           'background.02.jpg')
            (bkg3           'background.03.jpg')
            (bkg4           'background.04.jpg')
            (trash          'background.trash.landfill.jpg')
            (transition     'background.transition.jpg')
            (quit           'quit.background.jpg');
        @include background-pairs($background-pairs);
    }
}

.selectable {
    @include selectable;
}

.randomizer {
    @include randomizer;
}

.reveal {
    @include reveal;
}
