@import 'variables';
@import 'mixins';

@keyframes button-flash {
    0%, 100% {
        @include bin-button(1);
    }

    50% {
        @include bin-button(2);
    }
}

@keyframes timer-flash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

$transform: scale(2) translateX(-50%) translateY(95px);
@keyframes pour {
    0% {
        transform: $transform rotate(0deg);
    }

    50% {
        transform: $transform rotate(-45deg);
    }

    100% {
        transform: $transform rotate(0deg);
    }
}

$fantastic-transform: translateX(400px) translateY(-50%);
$move: translateX(400px) translateY(-50%);
@keyframes fantastic-pour {
    0% {
        transform: $fantastic-transform rotate(0deg);
    }

    25% {
        transform: $move rotate(0deg);
    }

    50% {
        transform: $move rotate(45deg);
    }

    75% {
        transform: $move rotate(0deg);
    }

    100% {
        transform: $fantastic-transform rotate(0deg);
    }
}

$master-transform: translateX(-50%) translateY(-50%);
@keyframes master-pour {
    0% {
        transform: $master-transform rotate(0deg);
    }

    50% {
        transform: $master-transform rotate(-45deg);
    }

    100% {
        transform: $master-transform rotate(0deg);
    }
}
