@import 'variables';
@import 'mixins';

@keyframes button-flash {
    0%, 100% {
        @include bin-button(1);
    }

    50% {
        @include bin-button(2);
    }
}

@keyframes timer-flash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

$transform: scale(2) translateX(-50%) translateY(95px);
@keyframes pour {
    0% {
        transform: $transform rotate(0deg);
    }

    50% {
        transform: $transform rotate(-45deg);
    }

    100% {
        transform: $transform rotate(0deg);
    }
}

$fantastic-transform: translateX(400px) translateY(-50%);
$move: translateX(400px) translateY(-50%);
@keyframes fantastic-pour {
    0% {
        transform: $fantastic-transform rotate(0deg);
    }

    25% {
        transform: $move rotate(0deg);
    }

    50% {
        transform: $move rotate(45deg);
    }

    75% {
        transform: $move rotate(0deg);
    }

    100% {
        transform: $fantastic-transform rotate(0deg);
    }
}

$master-transform: translateX(-50%) translateY(-50%);
@keyframes master-pour {
    0% {
        transform: $master-transform rotate(0deg);
    }

    50% {
        transform: $master-transform rotate(-45deg);
    }

    100% {
        transform: $master-transform rotate(0deg);
    }
}

@for $i from 1 through 12 {
    $timing: (13 - $i) * 1.5;
    $x: (($i * 48) % 560);
    $y: 80 + (($i * 36) % 250);
    $deg: -30 + (($i * 8) % 60);

    @keyframes tray-#{$i} {
        0% {
            transform: translateX(50%) translateY(-200px) rotate(0deg) scale(.65);
        }

        #{percentage((25 - $timing) / 100)} {
            transform: translateX(#{$x}px) translateY(#{$y}px) rotate(#{$deg}deg) scale(.65);
        }

        #{percentage((60 + $timing) / 100)} {
            transform: translateX(#{$x}px) translateY(#{$y}px) rotate(#{$deg}deg) scale(.65);
        }

        #{percentage((70 + $timing) / 100)} {
            transform: translateX(#{$x}px) translateY(600px) rotate(0deg) scale(.65);
        }

        100% {
            transform: translateX(#{$x}px) translateY(600px) rotate(0deg) scale(.65);
        }
    }
}
